<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
      <h2>About us</h2>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit, error
        exercitationem aspernatur atque hic a quo placeat numquam doloremque
        voluptatum sit, mollitia veritatis dolore soluta ex debitis
        necessitatibus molestias eius!
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit, error
        exercitationem aspernatur atque hic a quo placeat numquam doloremque
        voluptatum sit, mollitia veritatis dolore soluta ex debitis
        necessitatibus molestias eius!
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit, error
        exercitationem aspernatur atque hic a quo placeat numquam doloremque
        voluptatum sit, mollitia veritatis dolore soluta ex debitis
        necessitatibus molestias eius!
      </p>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
